@model WEBLab0.Models.Main

@{
    ViewData["Title"] = "Details";
}


<div class="container overflow-auto">
    <div class="row">
        <div class="col-6 border border-dark" >
            <img src="@Model.pen.photo_location" class="photo_display" />
        </div>
        <div class="col-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <p>Name of pen:</p>
                    </div>
                    <div class="col-8">
                        <p> @Model.pen.name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>Type of pen:</p>
                    </div>
                    <div class="col-8">
                        <p> @Model.penTypes.Find(e => e.id == Model.pen.id_pen_type).name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>Color of ink: </p>
                    </div>
                    <div class="col-8">
                        <p>@Model.penColors.Find(e => e.id == Model.pen.id_pen_color).name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2">
            <p>Decription of pen:</p>
        </div>
        <div class="10">
            <p>@Model.pen.description</p>
        </div>
    </div>
    <div class="row" style="max-height:300px">
        <div class="col-3">
            <p>In case you wish to buy this pen you can choose shop from the list below and press button "Buy"</p>
        </div>
        <div class="col-5 overflow-auto border mb-1" style="max-height:100px;">
            @foreach (var item in Model.shops_extended)
            {
                <p>@item.name</p>
            }
        </div>
    </div>
    <form asp-action="Buy">
        <div class="row">

            <div class="col-2">
                <p>Select shop</p>
            </div>
            <div class="col-5 overflow-auto pen_display">
                <input asp-for="pen_id" hidden value="@Model.pen_id"/>
                <select asp-for="shop_id" asp-items="@(new SelectList(Model.shops, "id","name",-1))" class="form-control"></select>

            </div>
            <div class="col-4">
                <input type="submit" value="Buy" class="btn btn-success" />
            </div>

        </div>
    </form>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pen.id }) |
    <a asp-action="Index">Back to List</a>
</div>
